name: React Test project
on: push
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: get code
        uses: actions/checkout@v3
      - name: insatall dependencies
        run: npm ci
      - name: run tests
        run: npm test
  build-project:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: get code
        uses: actions/checkout@v3
      - name: install dependencies
        run: npm ci
      - name: generate build
        run: npm run build
  deploy: 
    needs: build-project
    runs-on: ubuntu-latest
    steps:
      - name: get code
        uses: actions/checkout@v3
      - name: install dependencies
        run: npm ci
      - name: deploy code
        run: echo "Deploying ..."